@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Roboto:wght@100;300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  position: fixed;
}

.navbar-dark {
  background-color: transparent;
}

#navbarNavDropdown {
  background-color: rgba(0, 156, 218, 0.9);
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8em;
}

.navbar-toggler {
  font-size: 2rem;
  border: none;
  outline: 0 !important;
}

.navbar-toggler:hover {
  font-size: 2.3rem;
  font-weight: bold;
}

.close {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.2em;
  color: whitesmoke;
  border: none;
  outline: 0 !important;
}

.close:hover {
  font-family: 'Roboto';
  color: whitesmoke;
  border: none;
  outline: 0 !important;
}

.navbar-toggler > .close {
  display: inline;
}

.navbar-toggler.collapsed > .close, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

.drop-div {
  padding-left: 15px;
}

i.fa-moon {
  font-size: 2.5rem;
  opacity: 70%;
}

i.fa-moon:hover {
  opacity: 100%;
  font-size: 2.8rem !important;
}

@media (max-width: 767px) {
  .navbar-toggle {
    border: none;
    outline: 0 !important;
  }
}

@media screen and (min-width: 995px) {
  #navbarNavDropdown {
    background-color: transparent !important;
  }
}

@media (max-width: 994px) {
  #separador {
    display: none;
  }
}

#colorContacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#35CADB), to(#F1C448));
  background-image: linear-gradient(#35CADB, #F1C448);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.subtitulo {
  font-family: 'Playfair Display';
  font-size: 5rem;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.iconos {
  color: whitesmoke;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 20px;
  opacity: 90%;
}

.boxIcon {
  width: 100px;
  height: 100px;
  background-color: #35CADB;
  border-radius: 55rem;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  text-align: center;
  display: inline-block;
}

.boxIcon:hover {
  background-color: #F1C448;
}

.form-group {
  text-align: center;
  color: #686868;
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: 300;
  padding-bottom: 10px;
}

.boxForm {
  display: inline-block;
  width: 350px;
  height: 530px;
  background-color: whitesmoke;
  text-align: center;
  opacity: 85%;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  border-radius: 1rem;
  text-align: center;
  padding: 30px;
}

.form-control {
  width: 290px;
  height: 50px;
  font-size: 1.5rem;
  font-family: 'Roboto';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boton2 {
  color: whitesmoke;
  border-radius: 1rem;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 8px;
  border: none;
  text-align: center;
  text-align: center;
  background-color: #35CADB;
  -webkit-box-shadow: 2px 2px 10px #2c2c2c;
          box-shadow: 2px 2px 10px #2c2c2c;
}

.boton2:active {
  border: none;
}

.boton2:visited {
  border: none;
}

.boton2:hover {
  border: none;
  background-color: #F1C448;
}

.subir2 {
  width: 50px;
  height: 50px;
  background-color: #f6b90f;
  opacity: 80%;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  text-align: center;
  position: absolute;
}

.subir2:hover {
  background-color: #e7f60f;
}

@media screen and (min-width: 768px) {
  .subtitulo {
    font-size: 7rem !important;
  }
}

@media screen and (min-width: 768px) {
  .boxIcon {
    width: 120px !important;
    height: 120px !important;
  }
}

@media screen and (min-width: 768px) {
  .iconos {
    font-size: 6.2rem !important;
    padding-top: 30px;
  }
}

#colorPerfil {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7E45E1), to(#EB71AE));
  background-image: linear-gradient(#7E45E1, #EB71AE);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.boxFoto {
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  border-radius: 55rem;
  text-align: center;
}

.subir3 {
  width: 50px;
  height: 50px;
  background-color: #ee459a;
  opacity: 80%;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  text-align: center;
  position: absolute;
}

.subir3:hover {
  background-color: #ff5cff;
}

.boxDesc {
  display: inline-block;
  width: 350px;
  background-color: whitesmoke;
  text-align: center;
  opacity: 85%;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  border-radius: 1rem;
  padding: 20px;
}

.boxSize1 {
  height: 140px;
}

.boxSize2 {
  height: 235px;
}

.boxSize3 {
  height: 240px;
}

.boxtextBig {
  text-align: center;
  color: #686868;
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: 300;
  padding-bottom: 5px;
}

.boton3 {
  color: whitesmoke;
  border-radius: 1rem;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  text-align: center;
  text-align: center;
  background-color: #7E45E1;
  -webkit-box-shadow: 2px 2px 10px #2c2c2c;
          box-shadow: 2px 2px 10px #2c2c2c;
}

.boton3:active {
  border: none;
}

.boton3:visited {
  border: none;
}

.boton3:hover {
  border: none;
  background-color: #EB71AE;
}

@media screen and (min-width: 768px) {
  .boxDesc {
    width: 450px !important;
  }
}

@media screen and (min-width: 768px) {
  .boxSize1 {
    height: 170px !important;
  }
}

@media screen and (min-width: 768px) {
  .boxSize2 {
    height: 295px !important;
  }
}

@media screen and (min-width: 768px) {
  .boxSize3 {
    height: 285px !important;
  }
}

@media screen and (min-width: 768px) {
  .boxSize4 {
    height: 690px !important;
  }
}

@media screen and (min-width: 768px) {
  .boxtext {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 768px) {
  .boxtextBig {
    font-size: 2.8rem !important;
  }
}

#colorProyectos {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9845E1), to(#60CCAF));
  background-image: linear-gradient(#9845E1, #60CCAF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.proItem {
  font-family: 'Roboto';
  font-weight: 100;
  color: whitesmoke;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
}

.proItem:hover {
  text-decoration: none;
  font-weight: 500;
  color: whitesmoke;
}

.carousel {
  height: 500px;
  width: 500px;
}

.imglogos {
  display: block;
}

.pad {
  padding: 10px;
}

.agrandar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boton4 {
  color: whitesmoke;
  border-radius: 1rem;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  text-align: center;
  text-align: center;
  background-color: #9845E1;
  -webkit-box-shadow: 2px 2px 10px #2c2c2c;
          box-shadow: 2px 2px 10px #2c2c2c;
}

.boton4:active {
  border: none;
}

.boton4:visited {
  border: none;
}

.boton4:hover {
  border: none;
  background-color: #60CCAF;
}

.subir4 {
  width: 50px;
  height: 50px;
  background-color: #60CCAF;
  opacity: 80%;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  text-align: center;
  position: absolute;
}

.subir4:hover {
  background-color: #62dbe6;
}

@media (max-width: 768px) {
  .carousel {
    width: 350px;
    height: 350px;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding-top: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#colorIndex {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4D97CF), to(#9845E1));
  background-image: linear-gradient(#4D97CF, #9845E1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.logohead {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 15px;
}

#logoBlinka {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 1.2s ease forwards 3.2s;
          animation: fill 1.2s ease forwards 3.2s;
}

#logoBlinka path:nth-child(1) {
  stroke-dasharray: 263.85px;
  stroke-dashoffset: 263.85px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#logoBlinka path:nth-child(2) {
  stroke-dasharray: 151.1px;
  stroke-dashoffset: 151.1px;
  -webkit-animation: line-anim 2s ease forwards 0.4s;
          animation: line-anim 2s ease forwards 0.4s;
}

#logoBlinka path:nth-child(3) {
  stroke-dasharray: 153.24px;
  stroke-dashoffset: 153.24px;
  -webkit-animation: line-anim 2s ease forwards 0.8s;
          animation: line-anim 2s ease forwards 0.8s;
}

#logoBlinka path:nth-child(4) {
  stroke-dasharray: 239px;
  stroke-dashoffset: 239px;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#logoBlinka path:nth-child(5) {
  stroke-dasharray: 279.76px;
  stroke-dashoffset: 279.76px;
  -webkit-animation: line-anim 2s ease forwards 1.6s;
          animation: line-anim 2s ease forwards 1.6s;
}

#logoBlinka path:nth-child(6) {
  stroke-dasharray: 227.6px;
  stroke-dashoffset: 227.6px;
  -webkit-animation: line-anim 2s ease forwards 2s;
          animation: line-anim 2s ease forwards 2s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.logosub {
  font-family: 'Roboto';
  font-weight: 100;
  color: whitesmoke;
  font-size: 2.5rem;
  text-align: center;
  -webkit-animation: fill 1.2s ease forwards 3.2s;
          animation: fill 1.2s ease forwards 3.2s;
}

.x1 {
  position: relative;
  top: 25px;
  left: 20px;
  -webkit-animation: stars 3s infinite;
          animation: stars 3s infinite;
}

.x2 {
  position: relative;
  top: 125px;
  right: 20px;
  -webkit-animation: stars 2s infinite;
          animation: stars 2s infinite;
}

.x3 {
  position: relative;
  top: 300px;
  left: 50px;
  -webkit-animation: stars 4s infinite;
          animation: stars 4s infinite;
}

.x4 {
  position: relative;
  top: -70px;
  left: 30px;
  -webkit-animation: stars 3s infinite;
          animation: stars 3s infinite;
}

.x5 {
  position: relative;
  top: 50px;
  right: 25px;
  -webkit-animation: stars 2s infinite;
          animation: stars 2s infinite;
}

.x6 {
  position: relative;
  top: 200px;
  -webkit-animation: stars 5s infinite;
          animation: stars 5s infinite;
}

.x7 {
  position: relative;
  top: 50px;
  left: 100px;
  -webkit-animation: stars 5s infinite;
          animation: stars 5s infinite;
}

.espacio {
  padding-top: 250px;
}

@-webkit-keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.xchica {
  font-size: 1rem;
  color: whitesmoke;
  text-align: center;
}

.xmed {
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
}

.xlarge {
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
}

.centrar {
  text-align: center;
  padding: 30px 0;
}

#lineas2 {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#lineas3 {
  padding-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

.boxtext {
  text-align: center;
  color: #686868;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 300;
}

.box {
  display: inline-block;
  width: 350px;
  height: 100px;
  background-color: whitesmoke;
  text-align: center;
  opacity: 85%;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  border-radius: 1rem;
}

i.fa-chevron-up {
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
}

.subir {
  width: 50px;
  height: 50px;
  background-color: #b045e1;
  opacity: 80%;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  text-align: center;
  position: absolute;
}

.subir:hover {
  background-color: #ca58ff;
}

.boton1 {
  color: whitesmoke;
  border-radius: 1rem;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  text-align: center;
  text-align: center;
  background-color: #4D97CF;
  -webkit-box-shadow: 2px 2px 10px #2c2c2c;
          box-shadow: 2px 2px 10px #2c2c2c;
}

.boton1:hover {
  border: none;
  background-color: #9845E1;
}

.boton1:active {
  border: none;
  outline: 0 !important;
}

.boton1:visited {
  border: none;
}

.dialogo {
  margin-top: 25px;
}

.lapiz {
  margin-top: 170px;
}

footer {
  text-align: center;
  width: 100%;
  margin: 20px 0 0 0;
  vertical-align: middle;
  bottom: 0;
  padding: 10px;
}

.iconitos {
  font-size: 3rem;
  padding-top: 10px;
  color: whitesmoke;
  opacity: 87%;
}

.txtfoot {
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  color: whitesmoke;
  padding-top: 4px;
}

@media (min-width: 768px) {
  #logoBlinka {
    width: 150%;
    height: 150%;
  }
}

@media (min-width: 768px) {
  .logosub {
    font-size: 3rem !important;
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    width: 450px !important;
    height: 120px !important;
  }
}

@media screen and (min-width: 768px) {
  .boxtext {
    font-size: 2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */