@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Roboto:wght@100;300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding-top: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-brand {
  font-family: 'Playfair Display';
  font-size: 2.5rem !important;
}

.nav-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8em;
}

.navbar-toggler {
  font-size: large;
  border: none;
  outline: 0 !important;
}

@media (max-width: 767px) {
  .navbar-toggle {
    border: none;
    outline: 0 !important;
  }
}

@media (max-width: 994px) {
  #separador {
    display: none;
  }
}

@media (min-width: 768px) {
  #logoBlinka {
    width: 150%;
    height: 150%;
  }
}

@media (min-width: 768px) {
  .logosub {
    font-size: 3rem !important;
    padding-top: 10px;
  }
}

/*@media (min-width: 768px) {
	#lamp {
		width: 150%;
		height: 150%;
		}
	}*/
/*.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}*/
@media screen and (min-width: 768px) {
  .box {
    width: 450px !important;
    height: 130px !important;
  }
}

@media screen and (min-width: 768px) {
  .boxtext {
    font-size: 2rem !important;
  }
}

#colorIndex {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4D97CF), to(#9845E1));
  background-image: linear-gradient(#4D97CF, #9845E1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logohead {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 15px;
}

#logoBlinka {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 1.2s ease forwards 3.2s;
          animation: fill 1.2s ease forwards 3.2s;
}

#logoBlinka path:nth-child(1) {
  stroke-dasharray: 263.85px;
  stroke-dashoffset: 263.85px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#logoBlinka path:nth-child(2) {
  stroke-dasharray: 151.1px;
  stroke-dashoffset: 151.1px;
  -webkit-animation: line-anim 2s ease forwards 0.4s;
          animation: line-anim 2s ease forwards 0.4s;
}

#logoBlinka path:nth-child(3) {
  stroke-dasharray: 153.24px;
  stroke-dashoffset: 153.24px;
  -webkit-animation: line-anim 2s ease forwards 0.8s;
          animation: line-anim 2s ease forwards 0.8s;
}

#logoBlinka path:nth-child(4) {
  stroke-dasharray: 239px;
  stroke-dashoffset: 239px;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#logoBlinka path:nth-child(5) {
  stroke-dasharray: 279.76px;
  stroke-dashoffset: 279.76px;
  -webkit-animation: line-anim 2s ease forwards 1.6s;
          animation: line-anim 2s ease forwards 1.6s;
}

#logoBlinka path:nth-child(6) {
  stroke-dasharray: 227.6px;
  stroke-dashoffset: 227.6px;
  -webkit-animation: line-anim 2s ease forwards 2s;
          animation: line-anim 2s ease forwards 2s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.logosub {
  font-family: 'Roboto';
  font-weight: 100;
  color: whitesmoke;
  font-size: 2.5rem;
  text-align: center;
  -webkit-animation: fill 1.2s ease forwards 3.2s;
          animation: fill 1.2s ease forwards 3.2s;
}

.x1 {
  position: relative;
  top: 25px;
  left: 20px;
  -webkit-animation: stars 3s infinite;
          animation: stars 3s infinite;
}

.x2 {
  position: relative;
  top: 125px;
  right: 20px;
  -webkit-animation: stars 2s infinite;
          animation: stars 2s infinite;
}

.x3 {
  position: relative;
  top: 300px;
  left: 50px;
  -webkit-animation: stars 4s infinite;
          animation: stars 4s infinite;
}

.x4 {
  position: relative;
  top: -70px;
  left: 30px;
  -webkit-animation: stars 3s infinite;
          animation: stars 3s infinite;
}

.x5 {
  position: relative;
  top: 50px;
  right: 25px;
  -webkit-animation: stars 2s infinite;
          animation: stars 2s infinite;
}

.x6 {
  position: relative;
  top: 200px;
  -webkit-animation: stars 5s infinite;
          animation: stars 5s infinite;
}

.x7 {
  position: relative;
  top: 50px;
  left: 100px;
  -webkit-animation: stars 5s infinite;
          animation: stars 5s infinite;
}

.espacio {
  padding-top: 250px;
}

@-webkit-keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.xchica {
  font-size: 1rem;
  color: whitesmoke;
  text-align: center;
}

.xmed {
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
  /*margin-top: 155px;*/
}

.xlarge {
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
}

.centrar {
  text-align: center;
  padding: 30px 0 30px 0;
}

#lineas2 {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#lineas3 {
  padding-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

.boxtext {
  text-align: center;
  color: #686868;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 300;
}

.box {
  display: inline-block;
  width: 350px;
  height: 100px;
  background-color: whitesmoke;
  text-align: center;
  opacity: 85%;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  border-radius: 1rem;
}

i.fas {
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
}

.subir {
  width: 50px;
  height: 50px;
  background-color: #45a3e1;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 2px 18px #2c2c2c;
          box-shadow: 2px 2px 18px #2c2c2c;
  text-align: center;
  position: absolute;
}

.subir:hover {
  background-color: #455ce1;
}

.boton1 {
  color: whitesmoke;
  border-radius: 1rem;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  text-align: center;
  text-align: center;
  background-color: #9845E1;
  -webkit-box-shadow: 2px 2px 10px #2c2c2c;
          box-shadow: 2px 2px 10px #2c2c2c;
}

.boton1:active {
  border: none;
}

.boton1:visited {
  border: none;
}

.boton1:hover {
  border: none;
  background-color: #d445e1;
}

.dialogo {
  margin-top: 25px;
}

.lapiz {
  margin-top: 170px;
}

footer {
  background-color: #b045e1;
  text-align: center;
  width: 100%;
  margin: 20px 0 0 0;
  vertical-align: middle;
  bottom: 0;
  padding: 10px;
}

.txtfoot {
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  color: seashell;
  padding-top: 4px;
}
/*# sourceMappingURL=style.css.map */