body { padding-top: 50px;

 }

.navbar-brand {
	font-family: Playfair Display;
	font-size: 25px;
}

.dropdown-menu {
	font-family: Playfair Display;
	font-size: 25px;
}

.nav-link {
	font-family: Playfair Display;
	font-size: 25px;
}




.slide-left {
	width:100%;
	overflow:hidden;
  
  }
  
  .slide-left p {
	animation: slide-left 3s; 
  
  }
  .slide-left .a2{
  
	animation: slide-left 3.5s; 
  }
  
  .slide-left .a3{
	animation: slide-left 4s;
  }
  
  .slide-left .a4{
	animation: slide-left 4.5s;
  }
  .slide-left .a5{
	animation: slide-left 5s;
  }
  .slide-left .a6{
	animation: slide-left 5.5s;
  }
  .slide-left .a7{
	animation: slide-left 6s;
  }
  
  @keyframes slide-left {
	from {
	  margin-left: 100%;
	  width: 300%; 
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }


.resimage {
	width: 100%;
  height: auto;
  max-width: 768px;
}



.txtfoot{
	text-align: center;
	font-family: "Roboto";
	font-size: 12px;
	padding-top: 20px;
	color: whitesmoke;
}

.pad{
	padding-top: 50px;
}


$bcgcolorbase: #d9dad1;

$bcgcolor2:#d4fdfa;

$bcgcolor3: #a9add3;

$bcgcolor4: #d5f0d1  ;

$bcgcolor5: #3d405b;


@media (min-width: 576px) { 
	.hola {
		font-size: 50px !important; 
	}
	
	.subtitulo {
		font-size: 25px !important;
	}
	
	.subtitulo-link {
		font-size: 25px !important;
	}
	.titulo {
		font-size: 25px !important;
	}
	
	.texto-perfil1 {
		font-size: 25px !important;
	}
	.texto {
		font-size: 20px !important;
	}
	
 }

.indexfondo{
	margin: 0px;
}

.color1 {
	background-color: $bcgcolorbase;
	padding-bottom: 50px;
}

.color2 {
	background-color: $bcgcolor2;
	padding-bottom: 20px;
}

.color3 {
	background-color: $bcgcolor3;
	padding-bottom: 20px;
}

.color4 {
	background-color: $bcgcolor4;
	padding-bottom: 20px;
}

.color5 {
	background-color: $bcgcolor5;
	padding-top: 20px;
	padding-bottom: 20px;
}

.texto {
	font-family: "Roboto";
	font-size: 15px;
}

.texto p {
	text-align: center;
}

.hola {
	font-family: "Playfare Display";
	font-weight: 100;
	font-size: 30px;
	text-align: center;
}

.subtitulo {
	font-family: "Playfair Display";
	font-size: 25px;
}

.subtitulo-link {
	text-decoration: none;
	text-decoration-color: none;
	color: navy;
	font-family: "Playfair Display";
	font-size: 30px;
}
.titulo {
	font-family: "Roboto";
	font-weight: 100;
	font-size: 25px;
}

.texto-perfil1 {
	color: white;
	font-family: Playfair Display;
	font-size: 15px;
	text-align: center;
}

.largo {
	padding-top: 40px;
	padding-bottom: 40px;
}

.textosmall {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 12px;
	text-align: center;
	
}

.footer{
 background-color: $bcgcolor5;
}


@mixin imganim {
color: white; 
font-size: 40px;
text-align: center
}



.container-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	justify-content: center;
}

.Elemento {
	flex-basis: 300px;
} 

.shuffle {
    @include imganim();
}

.organic {
    @include imganim();
}

.E404 {
    @include imganim();
}

.dragon {
    @include imganim();
}

.cdubs {
    @include imganim();
}

.picnic {
    @include imganim();
}

.sintacc {
    @include imganim();
}

.lampara {
    @include imganim();
}

.bolsa {
	@include imganim();
}

.shuffle {
   transition: 2s; 
}
.shuffle img.agrandar:hover{
	transform: scale(1.1);

}

.organic {
   transition: 2s; 
}
.organic img.agrandar:hover{
	transform: scale(1.1);

}

.E404 {
   transition: 2s; 
}
.E404 img.agrandar:hover{
	transform: scale(1.1);

}

.ade {
   transition: 2s; 
}
.ade img.agrandar:hover{
	transform: scale(1.1);
}

.aca {
   transition: 2s; 
}
.aca img.agrandar:hover{
	transform: scale(1.1);
}

.revis {
   transition: 2s; 
}
.revis img.agrandar:hover{
	transform: scale(1.1);
}

.dragon {
   transition: 2s; 
}
.dragon img.agrandar:hover{
	transform: scale(1.1);
}

.cdubs {
   transition: 2s; 
}
.cdubs img.agrandar:hover{
	transform: scale(1.1);
}

.picnic {
   transition: 2s; 
}
.picnic img.agrandar:hover{
	transform: scale(1.1);
}

.sintacc {
   transition: 2s; 
}
.sintacc img.agrandar:hover{
	transform: scale(1.1);
}

.lampara {
   transition: 2s; 
}
.lampara img.agrandar:hover{
	transform: scale(1.1);
}

.bolsa {
   transition: 2s; 
}
.bolsa img.agrandar:hover{
	transform: scale(1.1);
}